<div class="notas-cursos contenedor-principal-pagina">
    <nz-tabset
      class="notas-cursos__tabs"
      style="height: 100%"
      [nzTabPosition]="'top'"
    >
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Tareas"
        [nzDisabled]="false"
      >
        Tareas
      </nz-tab>
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Crear tarea"
        [nzDisabled]="false"
      >
        Crear tarea
      </nz-tab>
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Editar tarea"
        [nzDisabled]="false"
      >
        Editar tarea
      </nz-tab>
    </nz-tabset>
  </div>