<div class="notas-cursos contenedor-principal-pagina">
    <nz-tabset
      class="notas-cursos__tabs"
      style="height: 100%"
      [nzTabPosition]="'top'"
    >
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Archivos"
        [nzDisabled]="false"
      >
        Archivos
      </nz-tab>
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Subir archivo"
        [nzDisabled]="false"
      >
        Subir archivo
      </nz-tab>
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Editar archivo"
        [nzDisabled]="false"
      >
        Editar archivo
      </nz-tab>
    </nz-tabset>
  </div>