<nav class="navbar">
  <div class="navbar__contenido">
    <p class="navbar__contenido--"></p>
  </div>
  <div class="navbar__contenido">
    <p class="navbar__contenido--username">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <nz-avatar
          class="navbar__contenido--username__avatar"
          nz-page-header-avatar
        ></nz-avatar>
        {{ userName }}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu
        class="navbar__contenido--username__dropmenu"
        #menu="nzDropdownMenu"
      >
        <ul class="m-t-10" nz-menu nzSelectable>
          <li class="navbar__contenido--username__dropmenu--item" nz-menu-item>
            <i class="m-r-5" nz-icon nzType="user" nzTheme="outline"></i>
            Mi perfil
          </li>
          <li class="navbar__contenido--username__dropmenu--item" nz-menu-item>
            <i class="m-r-5" nz-icon nzType="control" nzTheme="outline"></i>
            Configuraciones
          </li>
          <hr />
          <li
            class="navbar__contenido--username__dropmenu--item"
            nz-menu-item
            (click)="cerrarSesion()"
          >
            <i class="m-r-5" nz-icon nzType="logout" nzTheme="outline"></i
            >Cerrar sesión
          </li>
        </ul>
      </nz-dropdown-menu>
    </p>
    <i
      class="cursor-pointer navbar__contenido--notificaciones"
      nz-icon
      nzType="bell"
      nzTheme="outline"
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="'Notificaciones'"
      [nzTooltipColor]="'#001529'"
    ></i>
    <i
      class="cursor-pointer navbar__contenido--biblioteca"
      nz-icon
      nzType="book"
      nzTheme="outline"
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="'Biblioteca'"
      [nzTooltipColor]="'#001529'"
    ></i>
    <i
      class="cursor-pointer navbar__contenido--mensajes"
      nz-icon
      nzType="home"
      nzTheme="outline"
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="'Home'"
      [nzTooltipColor]="'#001529'"
    ></i>
  </div>
</nav>
