<nz-sider
    class="menu-sidebar"
    nzWidth="256px"
    [nzCollapsed]="isCollapsed"
    (mouseenter)="isCollapsed = false"
    (mouseleave)="isCollapsed = true"
  >
  <div class="contenedor-sider" [ngClass]="{ 'sider-hover': !isCollapsed }">
    <div class="sidebar-logo">
      <a routerLink="/home">
        <h1 class="sider-logo">ꓷN</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Perfil" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/registro">Apuntes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nz-sider>


