@import '../styles.scss';

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100vh;
  position: relative;
}


nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  background: #fff;
  @include shadows(modal)
}

.nz-content-sider {
  margin: 24px;
  background: #fff;
}

.inner-content {
  background: #f2f2f2d9;
  height: 100%;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  color: blue;
  display: flex;
  align-items:center;
  justify-content:center;
}