<div class="card-uno">
    <div class="card-uno__icono">
        <div class="card-uno__icono--contenedor">
            <img src="" alt="" class="card-uno__icono--imagen">
        </div>
    </div>
    <div class="card-uno__informacion">
        <div class="card-uno__informacion--titulo">
            <h3>Esta es una nota de prueba</h3>
        </div>
        <div class="card-uno__informacion--archivo">
            <img class="card-uno__informacion--archivo--icono" src="" alt="">
            <h5>Archivo de prueba</h5>
        </div>
    </div>
</div>
