<div class="notas-cursos contenedor-principal-pagina">
    <nz-tabset
      class="notas-cursos__tabs"
      style="height: 100%"
      [nzTabPosition]="'top'"
    >
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Notas"
        [nzDisabled]="false"
      >
        Notas
      </nz-tab>
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Crear nota"
        [nzDisabled]="false"
      >
        Crear nota
      </nz-tab>
      <nz-tab
        class="notas-cursos__tabs--text"
        nzTitle="Editar nota"
        [nzDisabled]="false"
      >
        Editar notas
      </nz-tab>
    </nz-tabset>
  </div>