/* You can add global styles to this file, and also import other style files */
@import "./src/app/share/estilos/variables";
@import "./src/app/share/estilos/clases";
@import "./src/app/share/estilos/mixins";

.ant-spin-spinning {
    margin-top: 100px;
  }
  
  .ant-spin-lg .ant-spin-dot i {
    width: 54px;
    height: 54px;
    margin: 20px;
  }
  
  .ant-spin-text {
    margin-top: 60px;
    font-size: 20px;
  }