/* You can add global styles to this file, and also import other style files */
@import "./src/app/web/UX/estilos/variables";
@import "./src/app/web/UX/estilos/clases";
@import "./src/app/web/UX/estilos/mixins";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  margin: 0;
}

.ant-spin-spinning {
  margin-top: 50px;
}

.ant-spin-lg .ant-spin-dot i {
  width: 54px;
  height: 54px;
  margin: 20px;
}

.ant-spin-text {
  margin-top: 60px;
  font-size: 20px;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-tabs-tab {
  font-size: 18px;
}

