<section class="notas contenedor-principal-pagina">
  <div class="notas__secciones-cabecera">
    <app-secciones-cabecera
      [secciones]="secciones"
      (seleccionadoClick)="seleccionadoClick($event)"
    ></app-secciones-cabecera>
  </div>
  <div class="notas__secciones-contenido">
    <div
      class="notas__secciones-contenido__mostrar"
      *ngIf="seccionSeleccionada === 'notas'"
    >
      <app-mostrar-nota-template
        (verNota)="mostrarBoton()"
      ></app-mostrar-nota-template>
    </div>
    <div
      class="notas__secciones-contenido__crear"
      *ngIf="seccionSeleccionada === 'crear nota'"
    >
      <app-crear-nota-template
        (botonGuardar)="mostrarBoton()"
      ></app-crear-nota-template>
    </div>
    <div
      class="notas__secciones-contenido__ver"
      *ngIf="seccionSeleccionada === 'ver nota'"
    >
      <app-ver-nota></app-ver-nota>
    </div>
  </div>
</section>
